@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

:root  {
  --background: 44 100% 95%;
  --foreground: 44 5% 10%;
  --card: 44 50% 90%;
  --card-foreground: 44 5% 15%;
  --popover: 44 100% 95%;
  --popover-foreground: 44 100% 10%;
  --primary: 44 100% 39.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 44 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 6 30% 85%;
  --muted-foreground: 44 5% 35%;
  --accent: 6 30% 80%;
  --accent-foreground: 44 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 44 5% 90%;
  --border: 44 30% 50%;
  --input: 44 30% 26%;
  --ring: 44 100% 39.4%;
  --radius: 0.5rem;
}
.dark  {
  --background: 44 50% 10%;
  --foreground: 44 5% 90%;
  --card: 44 50% 10%;
  --card-foreground: 44 5% 90%;
  --popover: 44 50% 5%;
  --popover-foreground: 44 5% 90%;
  --primary: 44 100% 39.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 44 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 6 30% 25%;
  --muted-foreground: 44 5% 60%;
  --accent: 6 30% 25%;
  --accent-foreground: 44 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 44 5% 90%;
  --border: 44 30% 26%;
  --input: 44 30% 26%;
  --ring: 44 100% 39.4%;
  --radius: 0.5rem;
}

}

@layer base {
  :root {
    --navbar-height: 3.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
